<div
  class="d-flex justify-content-between align-items-center border-top text-center"
  style="
    height: 100px;
    background-color: #151a24;
    bottom: 0;
    position: fixed;
    width: 100%;
  "
>
  <div class="p-3 bd-highlight mt-1">
    <img src="../assets/Icons/home.svg" width="50" height="auto" />
    <p class="mt-1">Home</p>
  </div>
  <div class="p-3 bd-highlight mt-1">
    <img src="../assets/Icons/markets.svg" width="50" height="auto" />
    <p class="mt-1">Markets</p>
  </div>
  <div class="p-3 bd-highlight mt-1">
    <img src="../assets/Icons/trades.svg" width="50" height="auto" />
    <p class="mt-1">Trades</p>
  </div>
  <div class="p-3 bd-highlight mt-1">
    <img src="../assets/Icons/funds.svg" width="50" height="auto" />
    <p class="mt-1">Funds</p>
  </div>
  <div class="p-3 bd-highlight mt-1">
    <img src="../assets/Icons/account.svg" width="50" height="auto" />
    <p class="mt-1">Account</p>
  </div>
</div>
